{% extends "layouts/main.html" %}

{% block pagestyles %}
<link href="{{ url_for('static', filename='dist/css/dashboard.css') }}" rel="stylesheet" type="text/css">
 {% endblock %} 
 
 {% block content %} 
 
 {% if current_user.is_authenticated %}
<div class="page-title">
    <div class="row pb-3">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Search</h3>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="row match-height ">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header p-0 pt-3 pl-4">
                <h4 class="card-title">Search Data</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form" action="/search" method="GET">
                        <div class="row">

                            <div class="col-md-12 col-12">
                                <div class="form-group">
                                    <label for="first-name-column">Station</label>
                                    <select class="choices form-select form-control-department" name="build" id="build" onchange="get_department()" required/>
                                        {% for item in build_data %}
                                            <option value="{{ item.id }}">{{ item.build_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12 col-12">
                                <div class="form-group">
                                    <label for="first-name-column">Oil</label>
                                    <select class="choices form-select form-control-department" name="department" id="department" disabled required/>
                                        
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="city-column">Date Start</label>
                                    <input type="date" id="date_start" class="form-control" placeholder="date_start" name="date_start" required/>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="country-floating">Time Start</label>
                                    <input type="time" id="time_start" class="form-control" name="time_start" placeholder="time_start" required/>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="city-column">Date End</label>
                                    <input type="date" id="date_end" class="form-control" placeholder="date_end" name="date_end" required/>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="country-floating">Time End</label>
                                    <input type="time" id="time_end" class="form-control" name="time_end" placeholder="time_end" required/>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end pt-3">
                                <button type="submit" class="btn btn-primary mr-1 mb-1" >Search</button>
                                <button type="reset" class="btn btn-warning mr-1 mb-1" onclick="reload_page()">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="pb-5"><button class="btn btn-success float-right" id="exportButton">Export Excel</button></div>
            <section class="section">
                <div class="card">
                    <div class="card-body">
                        <table class='table table-striped' id="table1">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>สถานีน้ำมัน</th>
                                    <th>ทะเบียนรถ</th>
                                    <th>ชนิดน้ำมัน</th>
                                    <th>ค่า API</th>
                                    <th>API ต้นทาง</th>
                                    <th>ค่า TEMP</th>
                                    <th>API @60F</th>
                                    <th>คลาดเคลื่อน</th>
                                    <th>วันเวลา</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set id = 0 %} 
                                
                                {% for item in build_log_data %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.build_name }}</td>
                                    <td>{{ item.license_plate }}</td>
                                    <td>{{ item.department_name }}</td>
                                    <td>{{ item.variable_a }}</td>
                                    <td>{{ item.variable_b }}</td>
                                    <td>{{ item.variable_c }}</td>
                                    <td>{{ '%0.2f'| format(item.sum|float) }}</td>
                                    <td>{{ '%0.3f'| format(item.error|float) }}</td>
                                    <td>{{ item.created_at }}</td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
        
            </section>
    </div>
</div>

<script src= 
"//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"> 
</script> 
<script src= 
"//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"> 
</script> 
<script src="{{ url_for('static', filename='assets/vendors/simple-datatables/simple-datatables.js') }}"></script>
<script>
    var csrf_token = "{{ csrf_token() }}";
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
    
    var data = [];
    data.col_a = [];
    data.col_b = [];
    data.col_c = [];
    data.col_sum = [];
    data.col_error = [];
    data.col_date = [];
    
    {% for item in build_log_data %}
        data.col_a.push({{ item.variable_a }});
        data.col_b.push({{ item.variable_b }});
        data.col_c.push({{ item.variable_c }});
        data.col_sum.push({{ item.sum }});
        data.col_error.push({{ item.error }});
        data.col_date.push("{{ item.created_at }}");
    {% endfor %}

    $("#exportButton").click(function () {
        console.log((window.location.href).split("?"));
        if((window.location.href).split("?").length == 1){
            window.open("/export-search", "_blank");
        }else{

            window.open("/export-search?"+(window.location.href).split("?")[1], "_blank");
        }

    });

    function reload_page(){
        window.location.reload();
    }

    function get_department() {
        var value = $("#build").val();
        console.log(value)
        $.ajax({
            type: 'GET',
            url: "get-department?build="+value,
            contentType: false,
            processData: false,
            dataType: 'json'
        }).done(function(data, textStatus, jqXHR) {
            html_code = "<option value='0'>ทั้งหมด</option>";
            if(data.data.length == 0){
                $("#department").html(html_code);
                $("#department").prop('disabled', true);
            }else{
                data.data.forEach(element => {
                    html_code += "<option value='"+element.id+"'>"+element.department_name+"</option>";
                });
                $("#department").html(html_code);
                $("#department").prop('disabled', false);
            }
            console.log('Success!');
        }).fail(function(data) {
            console.log(data)
            alert('error!');
        });
    }

    get_department()

</script>

{% endif %} 
{% endblock %}