{% extends "layouts/main.html" %} 
{% block pagestyles %} 
{% endblock %} 

{% block content %}
<div class="page-title">
    <div class="row pb-3">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Update Password</h3>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                </ol>
            </nav>
        </div>
    </div>

</div>
<form class="form" action="javascript:change_password()" method="POST">

    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Basic Inputs</h4>
                </div>
                <div class="card-body">
                    <div class="row mx-auto">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="basicInput">Current Password</label>
                                <input type="password" class="form-control" id="current_passowrd" placeholder="Current Password" required/>
                            </div>
    
                            <div class="form-group">
                                <label for="helpInputTop">New Password</label>
                                <input type="password" class="form-control" id="new_password" placeholder="New Password" required/>
                            </div>
                            <div class="col-12 d-flex justify-content-end pt-3">
                                <button type="reset" class="btn btn-warning mr-1 mb-1" onclick="reset()">Cancle</button>
                                <button type="submit" onclick="alert('Update Password เรียบร้อย')" class="btn btn-primary mr-1 mb-1">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    var csrf_token = "{{ csrf_token() }}";
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
    
    function change_password(){
        var current_passowrd = $("#current_passowrd").val();
        var new_password = $("#new_password").val();
        $.ajax({
            type: "PUT",
            url: "/update-password",
            data: {
                current_passowrd:current_passowrd,
                new_password:new_password
            },
            success: function(response) {
                alert(data.msg);
                if(data.status==true){
                    window.location.reload();
                }
            },
            error: function(error) {
                console.log(error);
                alert("เปลี่ยนรหัสไม่ผ่านสำเร็จ");
            }
        });
    }
    function reset(){
        window.location.reload();
    }
</script>
{% endblock %}